web/buzones_qa/*
web/alertas/*
web/archivos/*
web/files/*
runtime/redbox/*
runtime/logs/*
runtime/basesatisfaccion/*
runtime/debug/*
runtime/debug/mail/*
web/categorias/*
web/avonencuestas/*
web/A.TXT
web/a.txt
runtime/DB/*
web/assets/*
config/db
!.gitkeep
!runtime/debug/mail
